
<div class="jumbotron">
  <h1>'您好, '您好!</h1>
  <p class="lead">
    <img src="../images/yeoman.png" alt="我是超哥哥"><br>
    使用gulp和angular1.x的脚手架
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">超哥哥!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate是一个专业的前端模板，用于构建快速，强大和适应性强的网络应用程序或网站。
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS，MVC模式，是一种用于构建最适合您的应用程序开发的框架的工具集。
  </p>

  <h4>Karma</h4>
  <p>为JavaScript提供了集成测试环境。.</p>
</div>
